
header{
    background-color: #586;
    /* height: 60px; */
}
header nav{
    max-width: 1024px;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    line-height: 60px;
    position: relative;
}
nav .menu-area{
    display: flex;
    
}
.menu{
    position: relative;
    height: 100%;
    width: 70px;
    cursor: pointer;
    text-align: center;
    align-content: center;

}
.menu:hover{
    background-color: #476;
}
.menu:hover .submenu-area{
    display: flex;
}

.menu-btn{

}


.submenu-area{
    /* display: flex; */
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    left: 10px;
    background-color: #586;
    width: 100%;
}
.submenu-area::before{
    content: "";
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #586;
    border-left: 10px solid transparent;
    position: absolute;
    top: -20px;
}
.submenu-area::after{
    content: "";
    width: 100%;
    height: calc(100% + 10px);
    background-color: transparent;
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.submenu-area a{
    padding: 10px;
    position: relative;
}
.submenu-area a::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #347;
    display: none;
}
.submenu-area a:hover::after{
    display: block;
}
.box{
    width: 100px;
    height: 100px;
    
}





/* header平板以上 */
@media (max-width: 768px) {
    header nav{
    }
    .menu-area{
        /* display: flex; */
        flex-direction: column;
        background-color: rgb(127, 184, 146);
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px;
    }

        .menu{
        padding: 10px 20px;
        width: 100%;
        text-align: start;
    }
    .submenu-area{
        display: flex;
        position: relative;
    }

}   
