.col-1{
    width: calc(100% / 12);
}
.col-2{
    width: calc(100% * 2 / 12);
}
.col-3{
    width: calc(100% * 3 / 12);
}
.col-4{
    width: calc(100% * 4 / 12);
}
.col-5{
    width: calc(100% * 5 / 12);
}
.col-6{
    width: calc(100% * 6 / 12);
}
.col-7{
    width: calc(100% * 7 / 12);
}
.col-8{
    width: calc(100% * 8 / 12);
}
.col-9{
    width: calc(100% * 9 / 12);
}
.col-10{
    width: calc(100% * 10 / 12);
}
.col-11{
    width: calc(100% * 11 / 12);
}
.col-12{
    width: 100%;
}


.cols-1 > .col {
    width: 100%;
}
.cols-2 > .col {
    width: calc(100% * 11 / 12);
}
.cols-3 > .col {
    width: calc(100% * 10 / 12);
}
.cols-4 > .col {
    width: calc(100% * 9 / 12);
}
.cols-5 > .col {
    width: calc(100% * 8 / 12);
}
.cols-6 > .col {
    width: calc(100% * 7 / 12);
}
.cols-7 > .col {
    width: calc(100% * 6 / 12);
}
.cols-8 > .col {
    width: calc(100% * 5 / 12);
}
.cols-9 > .col {
    width: calc(100% * 4 / 12);
}
.cols-10 > .col {
    width: calc(100% * 3 / 12);
}
.cols-11 > .col {
    width: calc(100% * 2 / 12);
}
.cols-12 > .col {
    width: calc(100% / 12);
}







@media screen and (max-width: 1023px) {
    .col-md-1{
        width: calc(100% / 12);
    }
    .col-md-2{
        width: calc(100% * 2 / 12);
    }
    .col-md-3{
        width: calc(100% * 3 / 12);
    }
    .col-md-4{
        width: calc(100% * 4 / 12);
    }
    .col-md-5{
        width: calc(100% * 5 / 12);
    }
    .col-md-6{
        width: calc(100% * 6 / 12);
    }
    .col-md-7{
        width: calc(100% * 7 / 12);
    }
    .col-md-8{
        width: calc(100% * 8 / 12);
    }
    .col-md-9{
        width: calc(100% * 9 / 12);
    }
    .col-md-10{
        width: calc(100% * 10 / 12);
    }
    .col-md-11{
        width: calc(100% * 11 / 12);
    }
    .col-md-12{
        width: 100%;
    }
    .cols-md-1 > .col {
        width: 100%;
    }
    .cols-md-2 > .col {
        width: calc(100% * 11 / 12);
    }
    .cols-md-3 > .col {
        width: calc(100% * 10 / 12);
    }
    .cols-md-4 > .col {
        width: calc(100% * 9 / 12);
    }
    .cols-md-5 > .col {
        width: calc(100% * 8 / 12);
    }
    .cols-md-6 > .col {
        width: calc(100% * 7 / 12);
    }
    .cols-md-7 > .col {
        width: calc(100% * 6 / 12);
    }
    .cols-md-8 > .col {
        width: calc(100% * 5 / 12);
    }
    .cols-md-9 > .col {
        width: calc(100% * 4 / 12);
    }
    .cols-md-10 > .col {
        width: calc(100% * 3 / 12);
    }
    .cols-md-11 > .col {
        width: calc(100% * 2 / 12);
    }
    .cols-md-12 > .col {
        width: calc(100% / 12);
    }
}

@media screen and (max-width: 767px) {
    .col-sm-1{
        width: calc(100% / 12);
    }
    .col-sm-2{
        width: calc(100% * 2 / 12);
    }
    .col-sm-3{
        width: calc(100% * 3 / 12);
    }
    .col-sm-4{
        width: calc(100% * 4 / 12);
    }
    .col-sm-5{
        width: calc(100% * 5 / 12);
    }
    .col-sm-6{
        width: calc(100% * 6 / 12);
    }
    .col-sm-7{
        width: calc(100% * 7 / 12);
    }
    .col-sm-8{
        width: calc(100% * 8 / 12);
    }
    .col-sm-9{
        width: calc(100% * 9 / 12);
    }
    .col-sm-10{
        width: calc(100% * 10 / 12);
    }
    .col-sm-11{
        width: calc(100% * 11 / 12);
    }
    .col-sm-12{
        width: 100%;
    }
    .cols-sm-1 > .col {
        width: 100%;
    }
    .cols-sm-2 > .col {
        width: calc(100% * 11 / 12);
    }
    .cols-sm-3 > .col {
        width: calc(100% * 10 / 12);
    }
    .cols-sm-4 > .col {
        width: calc(100% * 9 / 12);
    }
    .cols-sm-5 > .col {
        width: calc(100% * 8 / 12);
    }
    .cols-sm-6 > .col {
        width: calc(100% * 7 / 12);
    }
    .cols-sm-7 > .col {
        width: calc(100% * 6 / 12);
    }
    .cols-sm-8 > .col {
        width: calc(100% * 5 / 12);
    }
    .cols-sm-9 > .col {
        width: calc(100% * 4 / 12);
    }
    .cols-sm-10 > .col {
        width: calc(100% * 3 / 12);
    }
    .cols-sm-11 > .col {
        width: calc(100% * 2 / 12);
    }
    .cols-sm-12 > .col {
        width: calc(100% / 12);
    }
}